*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: rgb(43, 40, 40);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 2.5em;
}

button,
button:active,
button:focus {
  outline: none;
  border: 2px solid rgb(0, 0, 0);
}

.button-search {
  position: relative;
  font-weight: 800;
  min-width: 140px;
  text-transform: uppercase;
  padding: 12px 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.3s linear;
  border-radius: 0 10px 10px 0;
  background: none;
  z-index: 1;
}

.button-search:hover {
  color: rgb(255, 255, 255);
}

.button-search::before {
  content: '';
  display: block;
  position: absolute;
  min-height: 100%;
  width: 0%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #111;
  z-index: -1;
  transition: width 0.4s linear;
}

.button-search:hover:before {
  width: 200%;
}

.button-search:first-letter {
  color: rgb(63, 72, 204);
}

.button-search:hover:first-letter {
  color: rgb(219, 9, 9);
}

.button-fil {
  display: flex;
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  border-radius: 10px 0 0 10px;
  z-index: 1;
}

.button-fil:hover .block-arrow::after{
  width: 15px;
  transform: translate(1px, -4px) rotate(-15deg);
}

.button-fil:hover .block-arrow::before{
  width: 15px;
  transform: translate(1px, 2px) rotate(15deg);
 }

.button-fil::before {
  content: '';
  display: block;
  position: absolute;
  min-height: 100%;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: rgb(255, 253, 253);
  z-index: -1;
  transition: width 0.2s linear;
}

.button-fil:hover::before {
  width: 0%;
}

.button-fil:hover .block-arrow,
.button-fil:hover .block-arrow::after,
.button-fil:hover .block-arrow::before {
  background-color: rgb(252, 248, 248);
}

.block-arrow,
.block-arrow::after,
.block-arrow::before {
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -15px;
  background-color: #111;
  transition: .6s;
}

.block-arrow::after,
.block-arrow::before {
  content: '';
}

.block-arrow::after {
  transform: translateY(-10px);
}

.block-arrow::before {
  transform: translateY(8px);
}

.menu-filter {
  display: flex;
  align-items: center;
  position: absolute;
  list-style: none;
  margin: 0;
  transition: 0.5s;
  transform: scaleX(0) translateX(-125%);
  transform-origin: right center;
  opacity: 0;
  visibility: hidden;
  height: 50px;
  line-height: 50px;
  background-color: rgb(0, 0, 0);
  padding-right: 25px;
  padding-left: 25px;
  margin-right: -25px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.filter-item {
  text-transform: uppercase;
  display: inline-block;
  margin-right: 20px;
  transition: .3s;
}

.menu-filter-active {
  position: absolute;
  transform: scaleX(1) translateX(-90%);
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
  margin: 0;
  color: aliceblue;
  transform-origin: right center;
  height: 50px;
  line-height: 50px;
  background-color: rgb(0, 0, 0);
  padding-right: 25px;
  padding-left: 25px;
  margin-right: -25px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.input-search {
  position: relative;
  z-index: 2;
  min-width: 370px;
  padding: 12px 5px;
  outline: none;
  border: 2px solid;
}

img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}

/* ==================wrapper=============== */

.wrapper {
  max-width: 100%;
  overflow: hidden;
  min-height: 100vh;
  background: linear-gradient(
    to right,
    rgba(69, 72, 77, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
/* ==================header-content=============== */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: relative;
  background-color: rgba(255, 255, 255);
  border-bottom: 2px solid rgb(0, 0, 0);
}

.nav {
  font-size: 14px;
  font-weight: 600;
}

.nav-menu {
  display: flex;
}

.nav-item {
  list-style: none;
}

.nav-link {
  position: relative;
  display: inline-block;
  margin-left: 27px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.2s linear;
  color: rgb(0, 0, 0);
  z-index: 1;
}

.nav-link:first-letter {
  color: rgb(63, 72, 204);
}

.nav-link:hover:first-letter {
  color: rgb(219, 9, 9);
}

.nav-link::after {
  content: '';
  display: block;
  position: absolute;
  height: 40px;
  width: 0%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  background-color: rgba(0, 0, 0);
  transition: width 0.3s linear;
  z-index: -1;
}

.nav-link:hover::after {
  width: 102%;
}

.nav-link:hover {
  color: rgba(255, 255, 255);
}
/* =========search-content========= */
.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
  background-color: rgba(255, 255, 255);
  border-bottom: 2px solid #000;
}

.heading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.heading-content h1:first-letter,
.brand-name:first-letter {
  color: rgb(63, 72, 204);
}

.brand-name {
  font-size: 2.5em;
  font-weight: 600;
}

.search-content {
  display: flex;
}

/* =========section-movies======== */

.movies-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px 20px;
  background-color: rgba(255, 255, 255);
}

.wrapper-item {
  position: relative;
  cursor: pointer;
  width: 300px;
  height: 300px;
  margin: 15px;
  perspective: 1000px;
}

.wrapper-item .povorot-a {transform: rotateY(180deg);}
.wrapper-item .povorot-b {transform: rotateY(360deg);}
.wrapper-item .remove-povorot-a {transform: rotateY(0deg);}
.wrapper-item .remove-povorot-b {transform: rotateY(180deg);}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  height: 295px;
  width: 210px;
}

.card-item img {
  border-radius: 15px;
}

.not-image {
  border-radius: 17px;
  border: 1px solid;
}

.card-item, .description {
  position: absolute;
  backface-visibility: hidden;
  transition: 1s;
}

.description {
  left: -19%;
  width: 105%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  background-color: rgb(0, 0, 0);
  transform: rotateY(180deg);
}

.text-block-films {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(255, 255, 255);
  box-shadow: 0px 1px 13px 9px #f44336;
  font-weight: 600;
  width: 95%;
  height: 95%;
  padding: 15px;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-block-films p{
  margin: .2em;
}

.fa-undo-alt {
  right: 10px;
  top: 10px;
  position: absolute;
  font-size: 30px;
  color: rgb(248, 2, 2);
  transform: rotate(-60deg);
  z-index: 2;
}

.fa-heart {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 30px;
  opacity: 0.5;
  color: rgb(248, 2, 2);
}

.card-item:hover .fa-heart {
  animation-name: shaking-heard;
  animation-duration: 0.5s;
  opacity: 1;
}

@keyframes shaking-heard {
  10% {font-size: 40px;}
  40% {font-size: 35px;}
  70% {font-size: 40px;}
  100% {font-size: 30px;}
}