*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: rgb(43, 40, 40);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 2.5em;
}

button,
button:active,
button:focus {
  outline: none;
}

.button-search {
  position: relative;
	font-weight: 800;
	min-width: 140px;
	border: none;
	padding: 12px 5px;
	color: rgb(0, 0, 0);
	cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  transition: .3s linear;
  border-radius: 0 10px 10px 0;
  background: none;
  z-index: 1;
}

.button-search:hover {
  color: rgb(255, 255, 255);
}

.button-search::before {
  content: '';
  display: block;
  position: absolute;
  min-height: 100%;
  width: 0%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #111;
  z-index: -1;
  transition: width .4s linear;
}

.button-search:hover:before {
  width: 200%;
}

.button-search:first-letter {
  color: rgb(63, 72, 204);
}

.button-search:hover:first-letter {
  color: rgb(219, 9, 9);
}

.input-search {
  min-width: 370px;
  padding: 12px 5px;
  outline: none;
  border-radius: 10px 0 0 10px;
}

img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}

/* ==================wrapper=============== */

.wrapper {
  max-width: 100%;
  overflow: hidden;
  min-height: 100vh;
  background: linear-gradient(to right, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
/* ==================header-content=============== */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: relative;
  background-color: rgba(255, 255, 255);
  border-bottom: 2px solid rgb(0, 0, 0);;
}

.nav {
  font-size: 14px;
  font-weight: 600;
}

.nav-menu {
  display: flex;
}

.nav-item {
  list-style: none;
}

.nav-link {
  position: relative;
  display: inline-block;
  margin-left: 27px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  transition: color .3s linear;
  color: rgb(0, 0, 0);
  z-index: 1;
}

.nav-link:first-letter {
  color: rgb(63, 72, 204);
}

.nav-link:hover:first-letter {
  color: rgb(219, 9, 9);
}

.nav-link::after {
  content: '';
  display: block;
  position: absolute;
  height: 40px;
  width: 0%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  background-color: rgba(0, 0, 0);
  transition: width 0.3s linear;
  z-index: -1;
}

.nav-link:hover::after {
  width: 102%;
}

.nav-link:hover {
  color: rgba(255, 255, 255);
}
/* =========search-content========= */
.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
  background-color: rgba(255, 255, 255);
}

.heading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.heading-content h1:first-letter,
.brand-name:first-letter {
  color: rgb(63, 72, 204);
}

.brand-name {
  font-size: 2.5em;
  font-weight: 600;
}

/* =========section-movies======== */
.section-movies {
  padding: 40px 0;
}

.movies-content {
  background-color: rgba(255, 255, 255);;
}